<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Add any other stylesheets or scripts you want to include on every page -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>

<body>

    <div class="container">
        <!-- Content from individual pages will be injected here -->
        {{ content }}
    </div>

    <!-- Optional: Footer or any other site-wide elements can be added here -->

    <!-- Optional: Add any site-wide scripts here -->

</body>

</html>
